/* create a rounded shadow box for each div question */
div.question {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    margin: 10px 0;
    padding: 10px;
    /* center  */
}

/* make class=total a round shadow box centered */
div.total {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    padding: 10px;
    width: 200px;
}